<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/postForm" method="post">
      <label>이름</label>
      <input type="text" required name="name" />

      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" value="Male" id="men" required />
        <label for="men">남자</label>
        <input type="radio" name="gender" value="Female" id="women" required />
        <label for="women">여자</label>
      </fieldset>

      <fieldset>
        <legend>생년월일</legend>
        <select name="birthYear">
          <% for(var i = 1900; i <=2010; i ++) { %>
          <option value="<%=i%>"><%=i%>년</option>
          <% } %>
        </select>
        <select name="birthMonth">
          <% for(var i = 1; i <=12; i ++) { %>
          <option value="<%=i%>"><%=i%>월</option>
          <% } %>
        </select>
        <select name="birthDate">
          <% for(var i = 1; i <=31 ; i ++) { %>
          <option value="<%=i%>"><%=i%>일</option>
          <% } %>
        </select>
      </fieldset>

      <fieldset>
        <legend>ID</legend>
        <input type="text" placeholder="ID" pattern="^([a-zA-Z0-9]){6,}$" name="id">
      </fieldset>

      <fieldset>
        <legend>Password</legend>
        <input type="password" name="password" pattern="^([a-zA-Z\\d`~!@#$%^&*()-_=+]{8,24}$">
      </fieldset>

      <fieldset>
        <legend>Contact</legend>
        <input type="text" name="contact" placeholder="010-1234-5678" 
        pattern="^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i" maxlength="13">
      </fieldset>

      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="interest" value="여행" />여행
        <input type="checkbox" name="interest" value="패션" />패션
        <input type="checkbox" name="interest" value="음식" />음식
      </fieldset>

      <fieldset>
        <legend>gmail</legend>
        <input
          type="email"
          name="email"
          pattern=".+@gmail\.com"
          size="30"
          required
        />
      </fieldset>


      <fieldset>
        <legend>Favorite Color</legend>
        <input type="color" name="color" value="#366465" />
      </fieldset>

      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
